* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background: #ffffff;
}
.logo {
	font-size: 2em;
    font-family: Lato;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}
.menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	width: 30%;
}
.menu li {
	list-style: none;
}
.menu a {
	color: #141733;
	text-decoration: none;
	font-size: 15px;
	padding: 30px;
	font-weight: 600;
    
}
.menu a:hover {
	color: #ff6138;
	transition: .6s;
}
.bar {
	display: none;
	cursor: pointer;
}
.bar div {
	width: 25px;
	height: 3px;
	background-color: #ff6138;
	margin: 5px;
	transition: all .5s ease;
}
@media screen and (max-width:1024px) {
	.menu {
		width: 60%;
	}
	.menu a {
		color: #000000;
	}
}
@media screen and (max-width:768px) {
	body {
		overflow-x: hidden;
	}
	.menu {
		position: absolute;
		right: -100%;
		height: 90vh;
		top: 10vh;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in-out;
		opacity: .9;
	}
	.bar {
		display: block;
	}
	.menu a {
		color: #000000;
	}
}
.nav-active {
	transform: translateX(-100%);
}
.bar-active .bar-1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.bar-active .bar-2 {
	opacity: 0;
}
.bar-active .bar-3 {
	transform: rotate(45deg) translate(-5px, -6px);
}
.banner {
	background-image: url(1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.content h2 {
	color: #000000;
	font-size: 60px;
	font-weight: 900;
}
.content p {
	width: 50%;
	color: #000000;
	line-height: 2;
	margin: auto;
}
.btn a {
	text-decoration: none;
	background: #ff6138;
	padding: 15px 10px;
	display: inline-block;
	color: #000000;
	margin-top: 15px;
	border-radius: 50px;
	width: 130px;
	text-align: center;
}
.wrapper {
	width: 1060px;
	margin: auto;
	padding-top: 12%;
}
.content {
	text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.wrapper {
		width: 75%;
		padding-top: 26%;
	}
	.content {
		text-align: center;
	}
	.content h2 {
		font-size: 60px;
	}
	.content p {
		width: 100%;
	}
}
@media screen and (max-width: 767px) {
	.banner {
		background-position: 60%;
	}
	.wrapper {
		width: 75%;
		padding-top: 26%;
	}
	.content h2 {
		font-size: 25px;
	}
	.content p {
		width: 100%;
	}
	.btn a {
		padding: 9px 4px;
		width: 105px;
	}
}
